*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: black;
    color: aliceblue;
    font-weight: 500;
    overflow: hidden;
}

.main{
    display: flex;
    height: 100vh;
}

.sidebar{
    background-color: #e888e3;
    width: 340px;
    border-radius: 1rem;
}

.main-content{
    background-color: #e6ac0e ;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
}

.music-player{
     background-color: #e66e6e ;
     position: fixed;
     width: 100%;
     bottom: 0px;
     height: 72px;
}